.form {
  max-width: 358px;
  width: 100%;
  flex: 1; /* Ocupar todo o height restante */
  margin: 60px auto 0;
  color: white;
  font-family: 'Inter', Arial, sans-serif;
  text-align: center;
}

.form__title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
}

.form__button {
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 2px;
  border: none;
  margin-top: 216px;
}

.form__button:hover {
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.form__button_disabled {
  border: 1px solid #000;
  opacity: 0.2;
  background: #fff;
  color: #000;
}

.form__input {
  width: 100%;
  height: 47px;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #cccccc;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 10px 0 0;
  color: white;
}

.form__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.form__field + .form__field {
  margin-top: 30px;
}

.form__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.form__field:last-of-type {
  margin-bottom: 0;
}

.form__error {
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  opacity: 0;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
}

.form__error_visible {
  opacity: 1;
}

.form__text {
  font-size: 14px;
  margin-top: 15px;
}

.form__link {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 544px) {
  .form {
    margin-top: 53px;
  }

  .form__button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 46px;
    height: 46px;
  }

  .form__title {
    font-size: 18px;
    line-height: 22px;
  }
}
