.popup {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.popup__button {
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 2px;
  border: none;
  margin-top: 48px;
}

.popup__button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.popup__button_disabled {
  border: 1px solid #000;
  opacity: 0.2;
  background: #fff;
  color: #000;
}

.popup__close {
  width: 35px;
  height: 35px;
  background: transparent url('../images/close.svg') center no-repeat;
  /* Students should be well familiar with shorthands by now, at least recommend it in "Could be improved" */
  background-size: 35px 35px;
  /* It's possible to align it precisely according to Pixel Perfect using `margin`,
     but I kept `align-self` here. */
  border: none;
  position: absolute;
  top: -39px;
  right: -37px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

.popup__content {
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

.popup__form {
  margin-top: 27px;
}

.popup__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 10px 0 0;
}

.popup__field {
  position: relative;
  display: block;
  padding: 30px 0 0;
  margin-bottom: 10px;
}

.popup__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.popup__field:last-of-type {
  margin-bottom: 0;
}

.popup__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
}

.popup_is-opened {
  display: flex;
}

/* Image popup elements */

.popup__content_content_image {
  max-width: 75vw;
  max-height: 75vh;
  height: auto;
  width: auto;
  display: flex;
  border-radius: 0;
  padding: 0;
}

.popup__tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 36px;
}

.popup__tooltip-image {
  width: 120px;
  height: 120px;
}

.popup__tooltip-text {
  margin: 32px 0 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 900;
  color: #000;
}

.popup__image {
  max-width: 100%;
  object-fit: cover;
}

.popup__caption {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  margin: 0;
}

.popup__error {
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  opacity: 0;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
}

.popup__error_visible {
  opacity: 1;
}

@media screen and (max-width: 544px) {
  .popup {
    bottom: 112px;
  }

  .popup__button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 46px;
    height: 46px;
  }

  .popup__close {
    right: 7px;
    top: -30px;
    width: 20px;
    height: 20px;
  }

  .popup__content {
    width: 100%;
    max-width: calc(100% - 19px * 2);
    margin-top: 8px;
    padding: 25px 22px;
  }

  .popup__form {
    margin-top: 53px;
  }

  .popup__title {
    font-size: 18px;
    line-height: 22px;
  }

  .popup__content_content_image {
    max-width: 75vw;
    padding: 0;
  }
}
